<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="3px">
            <tr>
                <th>pk</th>
                <th>
                    name
                </th>
               
                <th>
                   date
                </th>
                <th>
                    author
                 </th>
            </tr>
            {% for i in QLAO %}
            <tr>
                <td> {{i.pk}}</td>
                <td> {{i.name}}</td>
                <td> {{i.date}}</td>
                <td> {{i.author}}</td>
                
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>